<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="pacman">
    <p style="color: white" > Loading... </p>
</ngx-spinner> -->
<div class="row">
    <!-- <div class="col-md-2">
        <label>Start Date <i (click)="filterStartDate=''" class="fa fa-refresh" aria-hidden="true"></i></label>
        <input type="date" class="form-control" [(ngModel)]="filterStartDate"/>
    </div>
    <div class="col-md-2">
        <label>End Date <i (click)="filterEndDate=''" class="fa fa-refresh" aria-hidden="true"></i></label>
        <input type="date" class="form-control" [min]="filterStartDate" [(ngModel)]="filterEndDate"/>
    </div> -->
    <div class="col-md-4">
        <label style="display: block;color: transparent;">0</label>
        <!-- <button class="btn btn-sm btn-danger" (click)="getOrders()">Filter</button> -->
        &nbsp; 
        <button class="btn btn-sm btn-danger" (click)="exportRestaurant()" *ngIf="searchRestList.length != 0">
            Export
        </button>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <table class="table table-borderd table-striped my-table">
            <thead>
                <tr>
                    <th style="width: 100px;">Priority</th>
                    <!-- <th>Rest Id</th> -->
                    <th>Name</th>
                    <th>Mobile</th>
                    <!-- <th>Approve</th> -->
                    <th>Enable</th>
                    <th>Image</th>
                    <th>Banner</th>
                    <th>View</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" class="form-control" placeholder="Priority" [(ngModel)]="searchRestPriority"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <!-- <th>
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="searchRestId"
                        (keyup)="searchRestaurant($event)"/>
                    </th> -->
                    <th>
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="searchRestName"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Mobile" [(ngModel)]="searchRestMobile"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <!-- <th>
                        <input type="text" class="form-control" placeholder="Approve" [(ngModel)]="searchRestApprove"
                        (keyup)="searchRestaurant($event)"/>
                    </th> -->
                    <th>
                        <input type="text" class="form-control" placeholder="Enable" [(ngModel)]="searchRestEnable"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of searchRestList; let rowIndex = index" class="table-row data-{{rowIndex+1}}">
                    <td>
                        <div class="displayOrderLbl" id="label-{{rest.restId}}">
                            <input type="text" style="width: 40px;" [value]="rest.displayOrder" [disabled]="true"/>
                            &nbsp;<i (click)="dis(0,rest.restId,rest.displayOrder)" title="Edit Priority" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                        <div class="displayOrderTxt" id="text-{{rest.restId}}">
                            <input type="text" style="width: 40px;" id="new-{{rest.restId}}" [OnlyNumber]="true"/>
                            &nbsp;<i (click)="dis(1,rest.restId,rest.displayOrder)" class="fa fa-floppy-o" aria-hidden="true"></i>
                            &nbsp;<i (click)="dis(2,rest.restId,rest.displayOrder)" class="fa fa-times-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                    <!-- <td>{{rest.restId}}</td> -->
                    <td>{{rest.name}}</td>
                    <td>{{rest.mobile}}</td>
                    <!-- <td>
                        {{rest.approveTxt}}
                    </td> -->
                    <td>
                        {{rest.enableTxt}}
                    </td>
                    <td>
                        <label *ngIf="isTrue(rest.image)" (click)="viewImage(rest.image)">
                            <img [src]="rest.image" class="img-thumbnail"/>
                        </label>
                    </td>
                    <td>
                        <label *ngIf="isTrue(rest.banner)" (click)="viewImage(rest.banner)">
                            <img [src]="rest.banner" class="img-thumbnail"/>
                        </label>
                    </td>
                    <td>
                        <label (click)="getRestItem(rest)" title="View items">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination *ngIf="searchRestList.length !=0" 
    [itemCount]="searchRestList.length" 
    [perPageRecord]="5" 
    [showPage]="10">
</app-pagination>

<div id="imageModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md" >
		<div class="modal-content">
			<div class="modal-header" style="padding: 10px !important;">
				<h5 class="modal-title"></h5>
				<button class="btn btn-sm btn-danger" (click)="closeAnyModal('imageModal')">Close</button>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                      <button class="btn btn-sm btn-danger turn" title="Rotate image">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="col-md-11" style="max-height: 505px !important;overflow: auto;">
                      <img [src]="viewImgUrl" class="viewImg" width="400px" height="400px"/>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			</div>
		</div>	
	</div>
</div>