<div class="row">
    <div class="col-md-4">
        <label style="display: block;color: transparent;">0</label>
        <button class="btn btn-sm btn-danger" (click)="exportRestaurant()" *ngIf="searchRestList.length != 0">
            Export
        </button>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <table class="table table-borderd table-striped my-table">
            <thead>
                <tr>
                    <th style="width: 120px;">Priority</th>
                    <th>Name</th>
                    <th style="width: 200px">Open Time - Close Time</th>
                    <th style="width: 150px">Status</th>
                    <th style="width: 150px">Enable/Disable</th>
                    <th>View</th>
                </tr>
                <tr>
                    <th>
                        <input type="text" class="form-control" placeholder="Priority" [(ngModel)]="searchRestPriority"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="searchRestName"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th></th>
                    <th>
                        <input type="text" class="form-control" placeholder="Status" [(ngModel)]="searchRestStatus"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="Enable" [(ngModel)]="searchRestEnable"
                        (keyup)="searchRestaurant($event)"/>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of searchRestList; let rowIndex = index" class="table-row data-{{rowIndex+1}}">
                    <td>
                        <div class="displayOrderLbl" id="label-{{rest.restId}}">
                            <input type="text" style="width: 40px;" [value]="rest.displayOrder" [disabled]="true"/>
                            &nbsp;<i (click)="dis(0,rest.restId,rest.displayOrder)" title="Edit Priority" class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                        <div class="displayOrderTxt" id="text-{{rest.restId}}">
                            <input type="text" style="width: 40px;" id="new-{{rest.restId}}" [OnlyNumber]="true"/>
                            &nbsp;<i (click)="dis(1,rest.restId,rest.displayOrder)" class="fa fa-floppy-o" aria-hidden="true"></i>
                            &nbsp;<i (click)="dis(2,rest.restId,rest.displayOrder)" class="fa fa-times-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td>{{rest.name}}</td>
                    <td>{{rest.openCloseTime}}</td>
                    <td>
                        <span *ngIf="rest.status == 'Open'" class="text-mealsfly-green">
                            {{rest.status}} &nbsp;
                            <label (click)="changeRestStatus(rest.restId, 0, 'Close')" title="Close">
                                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                            </label>
                        </span>
                        <span *ngIf="rest.status == 'Close'">
                            {{rest.status}} &nbsp;
                            <label (click)="changeRestStatus(rest.restId, 1, 'Open')" title="Open">
                                <i class="fa fa-toggle-on" aria-hidden="true"></i>
                            </label>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="rest.enable == 0 || rest.enable == 2">
                            {{rest.enableTxt}} &nbsp;
                            <label (click)="changeRestStatus(rest.restId, 1, 'Enable')" title="Enable">
                                <i class="fa fa-toggle-on" aria-hidden="true"></i>
                            </label>
                        </span>
                        <span *ngIf="rest.enable == 1;" class="text-mealsfly-green">
                            {{rest.enableTxt}} &nbsp;
                            <label (click)="changeRestStatus(rest.restId, 2, 'Disable')" title="Disable">
                                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                            </label>
                        </span>
                    </td>
                    <td>
                        <label (click)="getRestItem(rest)" title="View items">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-pagination *ngIf="searchRestList.length !=0" 
    [itemCount]="searchRestList.length" 
    [perPageRecord]="10" 
    [showPage]="10">
</app-pagination>

<div id="imageModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-md" >
		<div class="modal-content">
			<div class="modal-header" style="padding: 10px !important;">
				<h5 class="modal-title"></h5>
				<button class="btn btn-sm btn-danger" (click)="closeAnyModal('imageModal')">Close</button>
			</div>
			<div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                      <button class="btn btn-sm btn-danger turn" title="Rotate image">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="col-md-11" style="max-height: 505px !important;overflow: auto;">
                      <img [src]="viewImgUrl" class="viewImg" width="400px" height="400px"/>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
			</div>
		</div>	
	</div>
</div>